@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin respond-to-mobile {
    @media (max-width: 768px) {
        @content;
    }
}
